.wrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-blocks {
  margin-left: 20px;
  font-weight: 900;
  font-size: 24px;
}
.Toolbar {
  float: left;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-variant: small-caps;
  text-align: center;
  background: #f2f7fe;
  padding: 10px 15px 3px 10px;
  margin-bottom: 1px;
  margin-right: 1px;
  border: 1px solid #7b899b;
  display: block;
  img {
    width: 36px;
  }
}
.Toolbar button {
  padding: 6px;
  margin: 7px 2px;
  font-variant: normal;
  font-size: 12px;
}
.row {
  height: 80vh;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
canvas {
  border: 2px solid grey;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}
.frameBox {
  border: 2px solid red;
  width: 150px;
  height: 150px;
  background-size: 100%;
  margin-top: 5px;
  position: relative;
  text-align: right;
}
.frames__mini_view {
  position: relative;
  height: 640px;
  width: 172px;
  overflow: auto;
}
.frames {
  height: 256px;
  width: 256px;
  border: 2px solid red;
  background-size: cover;
}
.delete_btn {
  text-align: center;
  height: 25px;
  width: 25px;
}
.tools {
  display: flex;
  flex-direction: column;
}
#pickedcolor {
  border: 2px solid red;
  margin: 5px auto;
  width: 50%;
  padding: 10px;
}
img.Selected {
  border: 2px groove #e4f0fe;
}
