.wrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.nav {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-blocks {
  margin-left: 20px;
  font-weight: 900;
  font-size: 24px;
}

.Toolbar {
  float: left;
  font-family: "Trebuchet MS";
  font-size: 14px;
  font-variant: small-caps;
  text-align: center;
  background: #f2f7fe;
  padding: 10px 15px 3px 10px;
  margin-bottom: 1px;
  margin-right: 1px;
  border: 1px solid #7b899b;
  display: block;
}

.Toolbar img {
  width: 36px;
}

.Toolbar button {
  padding: 6px;
  margin: 7px 2px;
  font-variant: normal;
  font-size: 12px;
}

.row {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

canvas {
  border: 2px solid grey;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.canvas-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canvas-block button {
  margin-left: 90%;
}

.frameBox {
  border: 2px solid red;
  width: 150px;
  height: 150px;
  background-size: 100%;
  margin-top: 5px;
  position: relative;
  text-align: right;
}

.frames__mini_view {
  position: relative;
  height: 640px;
  width: 172px;
  overflow: auto;
}

.frames {
  height: 256px;
  width: 256px;
  border: 2px solid red;
  background-size: cover;
}

.delete_btn {
  text-align: center;
  height: 25px;
  width: 25px;
  background: url("./img/delbtn.jpg") center no-repeat;
  background-size: cover;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pickedcolor {
  border: 2px solid red;
  margin: 5px auto;
  width: 50%;
  padding: 10px;
}

img.Selected {
  border: 2px groove #e4f0fe;
}

.video_block {
  border: 1px solid gray;
  height: 256px;
  width: 256px;
  position: relative;
  margin: 0 auto 15px;
}

.animation_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.animation_btn .fps__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.animation_btn .fps__block button {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border-radius: 50%;
  width: 10px;
  height: 40px;
}

.animation_btn .fps__block button:focus {
  outline: none;
}

.video_block {
  background-size: cover;
  text-align: right;
}

#fs {
  width: 30px;
  height: 30px;
  background: url("./img/fullscreen.png") center no-repeat;
  background-size: cover;
}

#fs:focus,
#start:focus,
#stop:focus {
  outline: none;
}

#start {
  width: 40px;
  height: 40px;
  background: url("./img/Play.jpg") center no-repeat;
  background-size: cover;
}

#stop {
  width: 40px;
  height: 40px;
  background: url("./img/stop.png") center no-repeat;
  background-size: cover;
}

#download {
  width: 40px;
  height: 40px;
  background: url("./img/download.jpg") center no-repeat;
  background-size: cover;
}

.current__FPS {
  background: lightseagreen;
  color: #ffffff;
  font-weight: bold;
}

.animation__on {
  opacity: 0.2;
}

.animation__off {
  opacity: 1;
}

:-webkit-full-screen {
  background: #fff;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
}

#hidden_canvas {
  display: none;
}
/*# sourceMappingURL=style.css.map */